html, body {
  height: 100%;
  margin: 0;
  font-family: 'Pangolin', cursive;
  background-color: tomato;
}

.container {
  position: relative;
  display: flex;
  margin-top: 10vh;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.center-box {
  background-color: blanchedalmond;
  text-align: center;
  height: 90vh;
  width: 80vw;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen 
  and (max-device-width: 800px) 
 {
  .center-box{
    height: 70vh;
    width: 80vw;
  }
}

@media only screen 
  and (max-device-width: 500px) 
 {
  .center-box{
    height: 50vh;
    width: 80vw;
  }
}
*:focus {outline:none !important}

input[type=text] {
  font-size: 1em;
  padding: 10px;
  margin: 10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
}

.center-text {
  text-align: center;
}

#title {
  display: none;
}

img {
  width: 50px;
  height: 50px;
  vertical-align: bottom;
}

@media only screen 
  and (max-device-width: 500px) 
 {
  img {
    width: 70px;
    height: 70px;
    vertical-align: bottom;
  }
}

button {
  margin-top: 20px;
  padding:10px;
  border:none;
  background-color: tomato;
  color:#fff;
  font-size: 2em;
  border-radius:5px;
  width:60%;
}

.estimated-points {
  font-size: 2.5em;
}

.note {
  background-color: #fff;
  padding: 20px;
  font-size: 1.2em;
}